[submodule "sunxi-boards"]
	path = sunxi-boards
	url = https://github.com/mmplayer/sunxi-boards.git
[submodule "sunxi-tools"]
	path = sunxi-tools
	url = https://github.com/mmplayer/sunxi-tools.git
[submodule "kernel-config"]
	path = kernel-config
	url = https://github.com/mmplayer/sunxi-kernel-config.git
[submodule "fsupdate"]
	path = fsupdate
	url = https://github.com/inn1983/fsupdate.git
[submodule "cubian-updates"]
	path = cubian-updates
	url = https://github.com/cubieplayer/cubian-updates.git
[submodule "sunxi_uImage"]
	path = sunxi_uImage
	url = http://scmadmin@157.7.131.132:8080/scm/git/sunxi_uImage
[submodule "u-boot-sunxi"]
	path = u-boot-sunxi
	url = https://github.com/mmplayer/u-boot-sunxi
